.catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /* Максимальная ширина каталога, можете изменить по вашему усмотрению */
    margin: 0 auto; /* Выравнивание каталога по центру */
}

.product {
    flex: 1 1 calc(33.33% - 20px); /* 33.33% для трёх в ряд, 20px это примерный отступ */
    box-sizing: border-box;
    margin: 10px; /* Отступ вокруг блока товара */
    text-align: center; /* Центровка содержимого */
}

img {
    max-width: 100%; /* Делаем изображение резиновым, чтобы оно не выходило за рамки блока */
    height: auto;
}

/* Для кнопок можно добавить базовые стили */
button {
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
}

/* Респонсивный дизайн: если ширина экрана меньше 600px, показывать по одному товару в строке */
@media (max-width: 600px) {
    .product {
        flex-basis: calc(100% - 20px); /* 100% ширины контейнера */
    }
}
