<!DOCTYPE html>
<html>
<head>
    <title>Форма для отправки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Загрузка рецептов и фото блюд</h1>

        <div class="green-form">
            <form method="POST" enctype="multipart/form-data">
                <p>Приложите фотографию</p>
                <input type="file" name="photo" class="form-control-file mt-2">
                {% if filepath %}
                    <img src="{{ filepath }}" class="img-fluid mt-3" alt="Фото не выбрано">
                {% endif %}
                <button type="submit" class="btn btn-primary mt-2">Отправить</button>
            </form>
        </div>
    </div>
</body>
</html>